

.col{
    margin-top: 20px !important;
    height: 40% !important;
}

#col2{
    margin-top: 50px !important;
    background: rgb(223, 223, 223)!important;
    max-width: 30% !important;
    border-radius: 6px !important;
    margin-left: 1rem !important;
}

.hrResumo{
    height: 3px !important;
    border-radius: 10px !important;
    background: rgb(36, 36, 36);
           
}

#titleResumo{
    padding-top: 30px !important;
    text-align: center;
}

.iimg-thumbnail{
    max-width: 20% !important;
}

.list-group-item{
    font-weight: bold !important;
    font-size:large !important;
    font-size: 100% !important;

}

.text-decoration-none{
    color: rgb(49, 36, 192) !important;
}

.list-group {
    --bs-list-group-border-color: rgb(255, 255, 255) !important;
    
}

hr{
    color: rgb(167, 167, 167) !important;
}

.titleCar{
    padding-top: 3%;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    text-align: center;
    color: rgba(54, 9, 95, 0.708);
}

.btn-outline-success{
    background: rgb(177, 165, 255) !important;
    --bs-btn-color: rgba(12, 12, 152, 0.818) !important;
    --bs-btn-border-color: #dae5e0b5 !important;
    --bs-btn-hover-bg: rgba(155, 73, 222, 0.759) !important;
    --bs-btn-hover-border-color: (0) !important;
}

.btn-danger{
    --bs-btn-bg: purple !important;
    --bs-btn-hover-bg: rgb(114, 1, 114) !important;
    --bs-btn-border-color: #dae5e0b5 !important;
    --bs-btn-hover-border-color: (0) !important;
}