.iimg-thumbnail{
    max-width: 20% !important;
}

.list-group-item{
    font-weight: bold !important;
    font-size:large !important;
    font-size: 100% !important;

}

.text-decoration-none{
    color: rgb(49, 36, 192) !important;
}

.list-group {
    --bs-list-group-border-color: rgb(255, 255, 255) !important;
    
}

hr{
    color: rgb(167, 167, 167) !important;
}