.itens {
    text-align:center;
}

.button2 {
    width: 300px;
    height: 48px;
    background: #4763E4;
    border-radius: 12px;
    color: #fff;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    gap: 15px;
  }

.button2:hover {
    cursor: pointer;
    opacity: 0.8;
  }

 