#welcome{
    color: rgb(59, 59, 59) !important;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    margin-bottom: 3rem !important;
}

#btnPerfil{
    text-decoration: none !important;
}

.list-group{
    --bs-list-group-active-bg: rgb(132, 81, 167) !important;
    --bs-list-group-action-hover-bg: #ececec !important;

}
