#welcome{
    color: rgb(59, 59, 59) !important;
    text-align: center;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    margin-bottom: 3% !important;
}

#btnPerfil{
    text-decoration: none !important;
}

#minhaLista{
    --bs-list-group-active-bg: rgb(132, 81, 167) !important;
    --bs-list-group-bg: rgb(197, 197, 197) !important;
    --bs-list-group-action-hover-bg: #e0e0e0 !important;
    

}

#pencil-square{
    width: 30px;
    padding-bottom: 10px;
    margin-left: -20px;
}

#btn-Alterar{
    text-align: center !important;
    margin-left: 40% !important;
    --bs-btn-bg: rgb(155, 108, 203) !important;
    --bs-btn-hover-bg: rgb(118, 64, 255) !important;
    border: none !important;
}
#nome, #name, #password, #email, #senha, #cpf, #estado, #cidade{
    border-radius: 13px !important;
    box-shadow: 3px 4px rgba(207, 207, 207, 0.4)!important;
}

.butao {
    position: absolute;
    left: 78%;
}

.naotem {
   height: 25vh;

}