.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0D0D;
    width: 100%;
    min-height: 100%;
}

.logo {
    margin-left: 0rem;
    margin-top: 1px;
    width: 200px;
}

.ul {
    display: flex;
    margin: 25px;
}

.item {
    display: flex;
}

li {
    margin: 0 1rem;
}

.b {
    text-decoration: none;
    color: #B79BF2;
    font-weight: bolder;
    text-shadow: #ABEEF1 1px 1px 1px;
}


