.Nav{
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5) !important;
}

.b {
    background-color: #B79BF2 !important;  
    color: black !important;
    color: aliceblue !important;
    border-radius: 10px !important;
}

.c {
    color: #B79BF2 !important;
    text-shadow:#ABEEF1 1px 1px 1px !important;
}

.Nav{
    background-color: #0D0D0D;
    width: 100%;
    min-height: 100%;
}

.logo{
    width: 12% !important; 
}

.me-2{
    color: aliceblue !important;
	border-radius: 10px 20px !important;
}

.d-flex{
    color: aliceblue !important;
}

