.Formas h3{
    position: relative;
    left: 450px;
}

.texto1 h2 {
    color: red;
    position: relative;
    left: 450px;
}

.texto1 h6{
    position: relative;
    left: 450px;
}

.texto2 h2 {
    color: red;
    position: relative;
    left: 450px;
}

.texto2 h6{
    position: relative;
    left: 450px;
}

.texto3 h2 {
    color: red;
    position: relative;
    left: 450px;
}

.texto3 h6{
    position: relative;
    left: 450px;
}

.texto4 h2 {
    color: red;
    position: relative;
    left: 450px;
}

.texto4 h6{
    position: relative;
    left: 450px;
}

.texto5 h2 {
    color: red;
    position: relative;
    left: 450px;
}

.texto5 h6{
    position: relative;
    left: 450px;
}

.imagem{
    position: relative;
    left: 600px;
    width: 100px;
}